.wrapper {
  padding: 50px;
  display: flex;
  background-color: #ced4da4e;
}

.img__container {
  flex: 1;
}

.img__container > img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.info__container {
  flex: 1;
  padding: 0px 50px;
}

.title > h1 {
  font-weight: 400;
}

.shortDesc {
  margin: 20px 0px;
}

.shortDesc > h5 {
  font-weight: 350;
}

.longDesc > p {
  text-align: justify;
  color: rgb(105, 105, 105);
}

.longDesc {
  margin: 20px 0px;
}

.info__price > p {
  font-weight: 400;
  font-size: 25px;
  color: brown;
}

.site-card-border-less-wrapper {
  padding: 20px;
  background: #ececec;
  flex: 1;
}

#button__addToCart {
  background-color: #f7a440 !important;
  border: 1px solid #e1701a !important;
  border-radius: 5px !important;
  padding-bottom: 10px;
}

#button__addToCart:hover {
  background-color: #ec7f2b !important;
  border: 1px solid #e1701a !important;
  border-radius: 5px !important;
}

.add__container {
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

#button__buy {
  background-color: white !important;
  border: 1px solid #ec7f2b !important;
  color: #e1701a !important;
  border-radius: 5px !important;
}

#button__buy:hover {
  background-color: #f7d3a72b !important;
}

.buttons {
  display: grid;
  grid-gap: 10px;
}
